<header>
  <div class="container">
    <div class="left-header">
      <%= link_to "scrats","/",class: "logo" %>
    </div>
    <div class="right-header">
      <%= link_to "投稿一覧","/subscriptions",class: "menu" %>
      <%= link_to "新規登録","/subscriptions/new",class: "menu" %>
    </div>
  </div>
</header>