<%= render :partial => "header" %>
<div class="main_wrapper">
  <div class="container">
    <h1>Subscriptions</h1>
    <ul class="subscription_items">
      <% @subscriptions.each do |subscription| %>
      <li class="subscription_item">
        <%= subscription.name %>
        <%= link_to('詳細表示',"/subscriptions/#{subscription.id}") %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<footer>
  <div class="container">
  </div>
</footer>