<%= render :partial => "header" %>
<div class="main_wrapper">
  <div class="container new-subscription">
    <h1>New Subscription</h1>
    <%= form_tag("/subscriptions/create") do%>
      <textarea name="name"></textarea>
      <input class="button" type="submit" value="登録">
    <% end %>
  </div>
</div>
<footer>
  <div class="container">
  </div>
</footer>