// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width: 100vw;
  height: 100vh;
  background-image: image-url("document-3268750_1920.jpg");/*背景画像のURL*/
  background-size: cover;
  position: relative;
  z-index:0;
  overflow: hidden;
}

.box::before{
  content: '';
  opacity: 0.5;/*半透明カラーの透明度*/
  background: inherit;
  filter: blur(8px);/*ぼかし度*/
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
}

.box h1{
  margin-top: 160px;
  // color: rgb(0, 187, 125);
  color: #2B2B2B;
  font-style: bold;
  font-size: 100px;
  text-align: center;
  text-shadow: 0 0 8px rgb(255, 255, 255);
}

.box p{
  color: #2B2B2B;
  font-style: bold;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 8px rgb(255, 255, 255);

}

.button{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: rgba(63, 63, 63, 0.466);
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  text-decoration: none;
}